.no-style{
  list-style: none;
}

.list-item{
  font-size: 1rem;
  margin-bottom: .5rem;
}

.arrow-up {
  display: inline-block;
  width: 0; 
  height: 0; 
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid green;
}
.arrow-down {
  display: inline-block;
  width: 0; 
  height: 0; 
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid red;
}
.mr-2{
  margin-right: 2rem;
}