.currency-exchange-form{
  width: 30rem;
  margin: 2rem auto;
  max-width: 80%;
}

.form-group{
  margin-bottom: 1rem;
}
.form-control{
  display: block;
  width: 100%;
  padding: .375rem 2.5rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.btn{
  
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem 2.5rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.btn-primary{
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}
.btn-primary:hover{
  cursor: pointer;
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
}

.input-container{
  display: flex;
  position: relative;
}
.action-identifier{
  position: absolute;
  top: -0.2rem;
  left: 1rem;
  font-size: 1.8rem;
  font-weight: 600;
}

.d-flex{
  display: flex !important;
}

.mr-2{
  margin-right: 0.7rem;
}

.my-3{
  margin-top: 1rem;
  margin-bottom: 1rem;
}